/*
* @Author: apple
* @Date:   2016-07-15 09:32:47
* @Last Modified by:   apple
* @Last Modified time: 2016-07-15 09:33:24
*/

/* ----------------- public style ---------------- */

/* =============== 全局设置 ================ */
body,html {width: 100%; height: 100%;}
.banxin {width: 98%; margin: 0 auto;}
a:active{background-color: transparent;color:transparent;}
.bg4e{background-color: #4EABE8;}
.c4e{color:#4EABE8;}
.bgde{background-color:#DE3B8A;}

/* ----- index图标样式 ----- */
.icon-li {float: left; width: 25%; margin-top: 10px; }
.icon-li:nth-child(n+5) {margin-bottom: 10px; }
.icon-li > a {display: block; width: 100%; }
.icon-li > a > img {display: block; width: 80px; height: 30px; margin: 5px auto; }
.icon-li > a > p {width: 100%; padding: 5px; padding-top: 8px; font-size: 12px; text-align: center; color: #666666;}
.icon-li > a > p > span {color: #FF3363;}

/* ----- index标题样式 ----- */
.title {width: 100%; padding: 0px 10px;}
.title > a:first-child {float: left; text-align: center; color: #7FC242; font: 700 18px/40px 'simsun'; }
.title > a:last-child {float: right; text-align: center; font: 14px/40px 'simsun';}

/* ----- footer 网页尾部开始 ----- */
.i-version a img {display: block; width: 35px; margin: 15px auto; padding-top: 4px;}
.i-version a p.p1{color:#00BB9C;}
.i-version a p.p2{color:#EE6976;}
.vi-ersion a p.p3{color:#7A7AA3;}


/* ----- 输入框 右边按钮清除内容 ----- */
#username1,#email-btn,#qq-btn,#idenfity-btn {position: absolute; right: 5%; top: 0; height: 42px; background: url(../images/u_close.png) no-repeat center; background-size: 60% auto; }
/* =============== register 注册页面 ================ */
.register-show-password1, .register-show-password2 {position: absolute; right: 4%; top: 64px; width: 70px; height: 42px; background: url(../images/u_s1.png) no-repeat center; background-size: 60% auto; }
.register-show-password2 {top: 126px; }
.register-show-password1.show, .register-show-password2.show {background: url(../images/u_s2.png) no-repeat center; background-size: 60% auto; }


/* ----- 返回顶部小火箭 ----- */
.rocket {position: fixed; right: 10px; bottom: 10px; width: 64px; height: 64px; background: url(../images/iconfont-fanhuidingbu.png) no-repeat center; background-size: 70% auto; display: none; }



