/*
* @Author: yan7
* @Date:   2016-07-06 15:05:46
* @Last Modified by:   apple
* @Last Modified time: 2016-07-09 13:48:23
*/


/* =============== logo开始 ================ */
.i-logo{background: #ff8200;}
.i-logo a:first-child {background: url(../images/m-index_02.png) no-repeat center; background-size: 90% auto;}
.i-logo a:last-child {background: url(../images/m-index_05.png) no-repeat center; background-size: 50% auto;}
/* =============== logo结束 ================ */


/* =============== banner 轮播图开始 ================ */
.swiper-container{border: 5px solid #fff; border-bottom:none;}
.swiper-pagination{bottom: -20px;}
.dot{bottom:6px!important;}
/* =============== banner 轮播图结束 ================ */


/* =============== nav 导航开始 ================ */
.i-nav ul li a img {width: 45px; height: 45px; }
.i-nav ul li:nth-child(-n+4){margin-top: 0; }
/* =============== nav 导航结束 ================ */



/* =============== tmall 热门商城开始 ================ */
.i-tmall {margin-top: 10px;}
.i-tmall .tmall-cont {border-top: 1px solid #f5f5f5; }
/* =============== tmall 热门商城结束 ================ */


/* =============== tipOff 最新爆料开始 ================ */
.i-tipOff {margin-top: 8px;}
/* -------- 标题部分 -------- */
.i-tipOff .tipOff-tit a:last-child {background: url(../images/iconfont-shuaxin.png) no-repeat center right; background-size: 70% auto;}
/* -------- 内容部分 -------- */
.i-tipOff .tipOff-con {padding-left: 80px; }
.i-tipOff .tipOff-con .tipOff-con-left {margin-left: -80px;}
.i-tipOff .tipOff-con .tipOff-con-left img {vertical-align: middle}
/* =============== tipOff 最新爆料结束 ================ */





